---
import BaseLayout from '../../layouts/Layout.astro';

import { getPosts } from '../../lib/api.js';
const posts = await getPosts();

import Slider from '../../components/slider.astro';
import { ClientRouter } from 'astro:transitions';
import { slide } from "astro:transitions";

// Opcional: Obtener todas las páginas para, por ejemplo, generar una lista de navegación
// const pagesResponse = await fetch('http://dpack.local/wp-json/wp/v2/pages');
// const pages = await pagesResponse.json();


// Extraemos el parámetro 'slug' de la URL
const { slug } = Astro.params;

// Para obtener la información de la página a partir del slug, se consulta con el parámetro "slug"
// La respuesta es un arreglo; tomamos el primer elemento (si existe)
const post = await fetch(`http://santisanchez.ovh/wp-json/wp/v2/posts?slug=${slug}`);
const postDataArray = await post.json();
const postData = postDataArray[0] || null;

---

<BaseLayout>

  <h1>{postData.title.rendered}</h1>
     
  <p>Esto es un post</p>

 
</BaseLayout>
