@import "tailwindcss";

@theme {
    --color-red: #FF0054;
    --color-red-50: #FF99BB;
    --color-red-10: #FFF5F8;
    --color-yellow: #F5F502;
    --color-yellow-50: #FEFE9A;
    --color-yellow-10: #FFFFE6;
    --color-blue: #532EE2;
    --color-blue-50: #B5A5F3;
    --color-blue-10: #F8F6FE;
    --color-green: #0FF7CA;
    --color-green-50: #B5FDEF;
    --color-green-10: #E6FEFA;
    --color-coral: #FF5F5F;
    --color-coral-50: #FF9999;
    --color-coral-10: #FFF5F5;
    --color-zinc: #09090B;
    --color-zinc-800: #C7C7D1;
    --color-zinc-200: #F1EBDA;
    --color-zinc-100: #FBF9F4;
    --color-zinc-50: #FAFAFA;
    --color-default-10: #FBF9F4;
    --color-white: #FBF9F4;


    --color-primary: var(--color-zinc-200);
    --color-foreground: var(--color-zinc);
    --color-foreground-fix: var(--color-zinc-200);
    --color-foreground-fix-2: var(--color-zinc);
    --color-foreground-fix-3: var(--color-white);
    --color-foreground-50: var(--color-zinc-800);

}
    [theme = "Default"] {
        --color-primary: var(--color-zinc-200);
        --color-foreground: var(--color-zinc);
        --color-foreground-fix: var(--color-zinc-200);
        --color-foreground-fix-2: var(--color-zinc);
        --color-foreground-fix-3: var(--color-white);
        --color-foreground-50: var(--color-zinc-200);
        path {
            fill: var(--color-zinc);
        }
    }
    [theme = "Yellow"] {
        --color-primary: var(--color-red);
        --color-foreground: var(--color-red);
        --color-foreground-fix: var(--color-red);
        --color-foreground-fix-2: var(--color-red);
        --color-foreground-fix-3: var(--color-white);
        --color-foreground-50: var(--color-yellow-50);
        path {
            fill: var(--color-red);
        }
    }
    [theme = "Red"] {
        --color-primary: var(--color-red);
        --color-foreground: var(--color-yellow);
        --color-foreground-fix: var(--color-red);
        --color-foreground-fix-2: var(--color-yellow);
        --color-foreground-fix-3: var(--color-white);
        --color-foreground-50: var(--color-red-50);
        path {
            fill: var(--color-yellow);
        }
    }
    [theme = "Blue"] {
        --color-primary: var(--color-blue);
        --color-foreground: var(--color-green);
        --color-foreground-fix: var(--color-blue);
        --color-foreground-fix-2: var(--color-green);
        --color-foreground-fix-3: var(--color-white);
        --color-foreground-50: var(--color-blue-50);
        path {
            fill: var(--color-green);
        }
        
    }
    [theme = "Coral"] {
        --color-primary: var(--color-coral);
        --color-foreground: var(--color-coral);
        --color-foreground-fix: var(--color-coral);
        --color-foreground-fix-2: var(--color-coral);
        --color-foreground-fix-3: var(--color-white);
        --color-foreground-50: var(--color-coral-50);
         path {
            fill: var(--color-coral);
        }
    }

    .project[theme = "Default"] {
        --color-primary: var(--color-zinc);
        --color-foreground: var(--color-zinc-200);
        --color-foreground-fix: var(--color-zinc-200);
        --color-foreground-fix-2: var(--color-zinc);
        --color-foreground-fix-3: var(--color-white);
    }

    .project[theme = "Blue"] {
        @apply
        bg-blue-10;
    }

    .project[theme = "Red"] {
        @apply
        bg-red-10;
    }

    .project[theme = "Yellow"] {
        @apply
        bg-yellow-10;
    }

    .project[theme = "Coral"] {
        @apply
        bg-coral-10;
    }

    .project[theme = "Default"] {
        @apply
        bg-default-10;
    }


@theme {
    --font-display: "Richmond", "serif";
    --font-sans: "Volte-Medium" , "sans-serif";
    --font-medium: "Volte-Semibold" , "sans-serif";
    --font-bold: "Volte-Bold" , "sans-serif";
}

@theme {
    --breakpoint-xl: 1440px;
    --breakpoint-md: 720px;
    --breakpoint-sm: 450px;
}

@theme {
    --text-display-ultra: clamp( 200px, calc((800/1440) * 100vw), 800px);

    --text-display-extra: clamp( 100px, calc((220/1440) * 100vw), 220px);
    --text-display-extra--line-height: 105%;

    --text-display-value: clamp(50px, calc((128/1440) * 100vw), 128px);

    --text-display: clamp(40px, calc((92/1440) * 100vw), 92px);
    --text-display--line-height: 100%;

    --text-big: clamp(35px,calc((64/1440) * 100vw), 64px);
    --text-big--line-height: 100%;

    --text-title: clamp(40px,calc((48/1440) * 100vw), 48px);
    --text-title--line-height: 100%;

    --text-title-2: clamp(32px,calc((47/1440) * 100vw), 47px);
    --text-title-2--line-height: 100%;

    --text-title-3: clamp(24px,calc((36/1440) * 100vw), 36px);
    --text-title-3--line-height: 100%;

    --text-lead: clamp(18px, calc((24/1440) * 100vw), 24px);
    --text-lead--line-height: 140%;

    --text-p: clamp(16px, calc((20/1440) * 100vw), 20px);
    --text-p--line-height: 140%;

    --text-tag: clamp(14px, calc((15/1440) * 100vw), 15px);
    --text-tag--line-height: 120%;

    --text-mini: clamp(12px, calc((14/1440) * 100vw), 14px);
    --text-mini--line-height: 120%;
}

@theme {
    --spacing-header: clamp(100px ,calc((76/1440) * 100vh), 76px);

    --spacing-button-y: clamp(8px, calc((8/1440) * 100vw), 10px);
    --spacing-button-x: clamp(10px, calc((10/1440) * 100vw), 10px);

    --spacing-tag-y: clamp( 3px ,calc((6/1440) * 100vw), 6px);
    --spacing-tag-x: clamp( 14px, calc((16/1440) * 100vw), 18px);

    --spacing-bigtag-y: clamp(8px, calc((20/960) * 100vh), 20px);
    --spacing-bigtag-x: clamp(10px, calc((30/1440) * 100vw), 30px);

    --spacing-xl: clamp(100px, calc((120/1440) * 100vw), 120px);
    --spacing-lg: calc((100/1440) * 100vw);
    --spacing-md: calc((40/1440) * 100vw);
    --spacing-sm: clamp(20px, calc((20/1440) * 100vw), 20px);
    --spacing-xs: clamp(10px, calc((12/1440) * 100vw), 12px);
    --spacing-xxs: calc((8/1440) * 100vw);

    --spacing-max-w-text: calc((578/1440) * 100vw);

    --radius-dpack: clamp(4px, calc((6/1440) * 100vw), 12px);

    
}

@font-face {
    font-family: 'Volte-Bold';
    src: url('/fonts/Volte-Bold.woff') format('woff2'),
         url('/fonts/Volte-Bold.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Volte-Medium';
    src: url('/fonts/Volte-Medium.woff') format('woff2'),
         url('/fonts/Volte-Medium.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Volte-Semibold';
    src: url('/fonts/Volte-Semibold.woff') format('woff2'),
         url('/fonts/Volte-Semibold.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Richmond';
    src: url('/fonts/RichmondDisplay-UltraBlack.woff') format('woff2'),
         url('/fonts/RichmondDisplay-UltraBlack.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}


.details {
    p.description {
      @apply
      text-p
      pb-xs;
    }
  }


.text-trim {
    
    span {
        text-box: trim-both text text;
    }
    
}

.animation-opacity {
    @apply
    opacity-0;
}

.no-paddings {
    .image-block {
        @apply
        px-0;

        & > div {
            @apply
            rounded-none;
        }
    }
}

.featured-result {
    @apply
    col-span-1;
    .featured-project {
        & > div:first-of-type {
            @apply
            aspect-[695/502];
        }
    }
}

/* Servicios */  

.service {
    &:last-of-type {
      @apply
      border-b-2;
    }

    
   
  }

  .accordion {
      .service {
        @apply
        
        hover:bg-primary
        hover:text-foreground
        cursor-pointer;

      

        &:has(.opened) {
            @apply
            bg-primary
            text-foreground;

            .plus {
                @apply
                transition-transform
                ease-in-out
                rotate-45;
            }
        }
      }
    }


    .video-wrapper {
        @apply
        aspect-square md:aspect-[695/502];
    }

   .project-header + .details, .text-block {
     p {
        @apply
        pb-2;

        br {
            @apply
            pb-2;
        }
     }
   }

   header {
    @apply
    invert-100
    mix-blend-difference;
   }