@import "tailwindcss";

@theme {
    --color-red: #FF0054;
    --color-red-50: #FF99BB;
    --color-red-10: #FFF5F8;
    --color-yellow: #F5F502;
    --color-yellow-50: #FEFE9A;
    --color-yellow-10: #FFFFE6;
    --color-blue: #532EE2;
    --color-blue-50: #B5A5F3;
    --color-blue-10: #F8F6FE;
    --color-green: #0FF7CA;
    --color-green-50: #B5FDEF;
    --color-green-10: #E6FEFA;
    --color-coral: #FF5F5F;
    --color-coral-50: #FF9999;
    --color-coral-10: #FFF5F5;
    --color-zinc: #09090B;
    --color-zinc-800: #C7C7D1;
    --color-zinc-200: #F1EBDA;
    --color-zinc-100: #FBF9F4;
    --color-zinc-50: #FAFAFA;


    --color-primary: var(--color-zinc-200);
    --color-foreground: var(--color-zinc);
    --color-foreground-fix: var(--color-zinc-200);
    --color-foreground-fix-2: var(--color-zinc);

}
    [theme = "Default"] {
        --color-primary: var(--color-zinc-200);
        --color-foreground: var(--color-zinc);
        --color-foreground-fix: var(--color-zinc-200);
        --color-foreground-fix-2: var(--color-zinc);
    }
    [theme = "Yellow"] {
        --color-primary: var(--color-yellow);
        --color-foreground: var(--color-red);
        --color-foreground-fix: var(--color-red);
        --color-foreground-fix-2: var(--color-red);
    }
    [theme = "Red"] {
        --color-primary: var(--color-red);
        --color-foreground: var(--color-yellow);
        --color-foreground-fix: var(--color-red);
        --color-foreground-fix-2: var(--color-red);
    }
    [theme = "Blue"] {
        --color-primary: var(--color-blue);
        --color-foreground: var(--color-green);
        --color-foreground-fix: var(--color-green);
        --color-foreground-fix-2: var(--color-green);
    }
    [theme = "Coral"] {
        --color-primary: var(--color-blue);
        --color-foreground: var(--color-coral);
        --color-foreground-fix: var(--color-coral);
        --color-foreground-fix-2: var(--color-coral);
    }


@theme {
    --font-display: "Richmond", "serif";
    --font-sans: "Volte-Medium" , "sans-serif";
    --font-medium: "Volte-Semibold" , "sans-serif";
    --font-bold: "Volte-Bold" , "sans-serif";
}

@theme {
    --breakpoint-xl: 1440px;
    --breakpoint-md: 720px;
    --breakpoint-sm: 450px;
}

@theme {
    --text-display-ultra: calc((800/1440) * 100vw);

    --text-display-extra: calc((300/1440) * 100vw);
    --text-display-extra--line-height: 105%;

    --text-display-value: calc((128/1440) * 100vw);

    --text-display: calc((100/1440) * 100vw);
    --text-display--line-height: 100%;

    --text-big: calc((64/1440) * 100vw);
    --text-big--line-height: 100%;

    --text-lead: calc((24/1440) * 100vw);
    --text-lead--line-height: 100%;

    --text-p: calc((20/1440) * 100vw);
    --text-p--line-height: 100%;

    --text-tag: calc((15/1440) * 100vw);
    --text-tag--line-height: 100%;

    --text-mini: calc((14/1440) * 100vw);
    --text-mini--line-height: 100%;
}

@theme {
    --spacing-button-y: calc((6/1440) * 100vw);
    --spacing-button-x: calc((10/1440) * 100vw);

    --spacing-tag-y: calc((10/1440) * 100vw);
    --spacing-tag-x: calc((16/1440) * 100vw);

    --spacing-bigtag-y: calc((10/1440) * 100vw);
    --spacing-bigtag-x: calc((30/1440) * 100vw);

    --spacing-md: calc((40/1440) * 100vw);
    
    --spacing-sm: calc((20/1440) * 100vw);
    --spacing-xxs: calc((8/1440) * 100vw);
}

@font-face {
    font-family: 'Volte-Bold';
    src: url('/fonts/Volte-Bold.woff') format('woff2'),
         url('/fonts/Volte-Bold.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Volte-Medium';
    src: url('/fonts/Volte-Medium.woff') format('woff2'),
         url('/fonts/Volte-Medium.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Volte-Semibold';
    src: url('/fonts/Volte-Semibold.woff') format('woff2'),
         url('/fonts/Volte-Semibold.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Richmond';
    src: url('/fonts/RichmondDisplay-UltraBlack.woff') format('woff2'),
         url('/fonts/RichmondDisplay-UltraBlack.woff2') format('woff');
    font-weight: 100;
    font-style: normal;
}

