---
import { getPost } from '../../../lib/api.js';
import { getLangFromUrl } from '../../../lib/i18n.js';

const lang = getLangFromUrl(Astro.url);
const slug = Astro.params.slug;
const post = await getPost(slug, lang);

import BaseLayout from '../../../layouts/Layout.astro';
import Slider from '../../../components/slider.vue';
---

<BaseLayout >

    <h1>{post.title.rendered}</h1>
    <Slider pageId={post.id} client:load/>
    <a href={`/${lang}`}>{lang === 'es' ? 'Volver al inicio' : 'Back to home'}</a>

</BaseLayout>
