---

//  import '../src/styles/global.css'

import { slide } from 'astro:transitions';

import { ClientRouter } from 'astro:transitions';
import Header from '../components/header.astro';

const { lang } = Astro.props;

---

<!doctype html>
<html lang={lang}  >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<!-- <ClientRouter /> -->
	</head>

	<body >
		<Header />
		<div id="barba-wrapper" data-barba="wrapper">
			<div class="barba-container" data-barba="container" data-barba-namespace="slide-up">
				<!-- <div class="text-black" id="content" transition:animate={slide({ duration: '2s' })}> -->
				<div class="wrapper bg-santo-100">
					<slot/>
				</div>
				<!-- </div> -->	
			</div>
		</div>
		
		<script>
			import { gsap } from 'gsap';
			import barba from '@barba/core';
			barba.init({
				transitions: [
				{
					name: 'slide-up',
					leave() {
						return gsap.to(".barba-container", {
							scale: .8,
							duration: 0.5,
							autoAlpha: 0,
							ease: 'power2.inOut'
						});
					},
					enter() {
						return gsap.from(".barba-container", {
							y: '100%',
							scale: 1.1,
							duration: 0.5,
							autoAlpha: 0,
							ease: 'power2.inOut'
						});
					}
				}
				]
			});
		</script>
	</body>
</html>

<style>
	
	 .barba-container {
		overflow: hidden;
		position: absolute;
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
		top: 0px;
		left: 0px;
		z-index: -1;
		padding-top: 10vh;
	}
</style>
